      <!-- 로그인 css --->
<link rel="stylesheet" href="/css/login.css">

  <div class="containers">
        <div class="panel panel-default devise-bs center-block  text-center" style="padding:150px;">
          <div class="panel-heading">
            <h5> 로그인 </h5>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
              <div class="form-group">
                <h4>이메일 주소</h4>
                <%= f.email_field :email, autofocus: true, class: 'col-xs-2' %>
              </div>
              <div class="form-group">
                <h4>비밀번호</h4>
                <%= f.password_field :password, autocomplete: 'off', class: 'col-xs-2' %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %> <%= t('.remember_me', default: '아이디 저장') %>
                  <% end %>
                </div>
              <% end %>
              <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary' %>
            <% end %>
            
          </div>
          <%= render 'devise/shared/links' %>
        </div>
</div>